html, body{
  background-color: #283C49;
}
.links {
  margin-top: 12%;
  margin-left: 45%;
}
button {
  text-align: center;
  padding: 1%;
}
img {
  width:32px;
  height:32px;
}
a {
  text-align: center;
  padding: 2%;
  color:#00ccff;
}
a:hover {

}
h3 {
  margin-left: 5%;
  color:#0099cc;
}
/*p {
  margin-left: 8%;
  margin-right: 60%;
  color:#00ccff;
}*/
footer {
  margin-top:99%;
  background: repeating-linear-gradient(
    45deg,white,white 10px, #ccc 10px, #ccc 20px
  );
  background-color:#111;
  color:#888;
  bottom:0;
  text-align: center;
  margin-left: 45%;
  margin-right: 45%;
}
